/.metadata/
AverageIncomeOfUser/.classpath
AverageIncomeOfUser/.project
AverageIncomeOfUser/.settings/org.eclipse.jdt.core.prefs
AverageIncomeOfUser/bin/com/SriWorkPlace/Person.class
AverageIncomeOfUser/src/com/SriWorkPlace/Person.java
JavaProject/
MathUtils/
MavenProject/
